:root {
	--primary: rgb(29, 133, 218);
	--outline: rgb(224, 36, 30);
}

.btn {
	padding: 8px 20px;
	border-radius: 2px;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 10px;
}

.btn--primary {
	background-color: transparent;
	color: #f0f0f0;
	border: 2px solid var(--primary);
}

.btn--outline {
	background-color: transparent;
	color: white;
	border: 2px solid var(--outline);

	padding: 8px 20px;
	transition: all 0.3s ease-out;
}

.btn--medium {
	padding: 8px 20px;
	font-size: 18px;
}

.btn--large {
	padding: 12px 26px;
	font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
	transition: all 0.3s ease-out;
	background: #a0b8b0;
	color: #242424;
	transition: 250ms;
}
